<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Todo List</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</head>
<body>
<h1 class="text-center">Todo List</h1>
<div th:if="${not #lists.isEmpty(todos)}">
    <table class="table table-bordered border-primary mx-auto" style="width: 70%;">
        <thead>
        <tr>
            <th>ID</th>
            <th>Task</th>
            <th>Description</th>
            <th>IsDone</th>
            <th>Created At</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="todo : ${todos}">
            <td th:text="${todo.id}"></td>
            <td th:text="${todo.task}"></td>
            <td th:text="${todo.description}"></td>
            <td th:text="${todo.isDone}"></td>
            <td th:text="${todo.createdAt}"></td>
            <td class="text-center">
                <a th:href="@{/todo/edit/{id}(id=${todo.id})}">Edit</a> |
                <a th:href="@{/todo/delete/{id}(id=${todo.id})}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div th:if="${#lists.isEmpty(todos)}" class="mt-4 text-center">
    <p>No todo items found matching the search criteria.</p>
</div>
<div class="text-center">
    <a th:href="@{/todo/new}" class="btn btn-primary">Add New</a>
    <a th:href="@{/todo/search}" class="btn btn-primary">Search</a>
</div>
</body>
</html>
